@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* @font-face {
  font-family: 'Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@theme {
    --font-sans: 'Alata', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-alata: "Alata", sans-serif;
     
    --font-neue: "Bebas Neue", sans-serif;
    
    --color-primary: #421512;
    --color-secondary: #D4A017;
    --color-accent: #C84B31;
    
    --color-text-shadow: #7B1E1E;
    --color-text-bg-: #777979;
    --color-text-bg-2: #FFFFFF;
    --color-text-background: #B3B3B3;
    --color-background: #FFF8E7;
}

/* @layer components {
    .font-neue {
        font-family: var(--font-neue);
    }
    .font-alata {
        font-family: var(--font-alata);
    }
} */
